/* static/myapp/css/styles.css */
:root {
    --main_back_color: white;
    --adit_color: rgba(213, 239, 255, 1.0);
    --button_color: rgba(193, 227, 255, 1.0);
    --border_color: rgba(0,95,153,255);
    --font_color: black;
}

/* Установка фона и шрифта по умолчанию также это базовый контейнер включающий все секции сайта*/
body {
    font-family: 'BioRhyme', serif;
    line-height: 1.6;
    background-color: var(--main_back_color);
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

/* Установка шапки сайта */
.hero-section {
    width: 100%;
    height: 33svh;
    background: url('/static/images/6.jpg') no-repeat center center/cover;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Главный заголовок страницы */
.page_header {
    text-align: center;
    font-family: 'BioRhyme', serif;
    font-size: 48px;
    color: var(--font_color);
}

/* Характеристики группы "строка поиска + кнопка поиска".
Для корректного отображения необходимо, чтобы и input-group и search-form оставались флекс контейнерами*/
.input-group {
    display: flex;
    margin: 2% 10%;
}

#search-form {
    display: flex;
    flex-direction: row;
    height: 60px;
    width: 100%;
    box-sizing: border-box;
    gap: 0;
}

.input-group input[type="text"] {
    flex: 11;
    padding: 10px;
    border: 2px solid var(--border_color);
    border-right: none;
    outline: none;
    box-sizing: border-box;
    font-size: 22px;
}

.input-group button {
    flex: 1;
    height: 60px;
    padding: 10px 20px;
    border: 2px solid var(--border_color);
    box-sizing: border-box;
    font-size: 22px;
}

/* Характеристики группы информация о городе */
.city-info {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--button_color);
    border: 2px solid var(--border_color);
    height: 120px;
    margin: 0% 10%;
    box-sizing: border-box;
    font-size: 24px;
}

.city-icon {
    width: 60px;
    height: auto;
    margin: 15px;

}
.animated-icon {
    animation: rotate 3s linear infinite;
}

/* Характеристики отображения кнопок */
button {
    font-family: 'BioRhyme', serif;
    background-color: var(--button_color);
    color: var(--font_color);
    border: 2px solid var(--border_color);
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.5s;
}

button:hover {
    background-color: var(--adit_color);
    color: var(--font_color);
    box-shadow: 1px -1px 4px rgba(0, 0, 0, 0.3);
}

/* Характеристики отображения истории */
.button-position {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
}

#toggle-text {
    font-size: 22px;
    width: 15%;
}

#text-content {
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 30px;
}

.grid-container {
    visibility: hidden;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px;
}

.grid-item {
    background-color: var(--button_color);
    border: 1px solid var(--border_color);
    padding: 10px;
}

/* Анимация */
@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}