{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Weatherman</title>
    <link rel="stylesheet" href="{% static 'css/design.css' %}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=BioRhyme:wdth,wght@100..125,200..800&display=swap"
          rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>
<body>

<h1 class=page_header> Weatherman</h1>

<div class="container">
        <form method="POST" id="search-form" action="{% url 'search_city' %}">
            {% csrf_token %}
            <div class="input-group">
                <input type="text" id="city_name" name="city_name" autocomplete="off" placeholder="Enter the name of the city" list="suggestions">
                <datalist id="suggestions"></datalist>
                <button type="submit">Search</button>
            </div>
        </form>

    <div class="city-info">
    <h2>{{ current_city }} {% if current_temperature %} {{ current_temperature }}&deg;C {% else %} :( {% endif %}</h2>
        <img src="/static/images/sun.svg" alt="City Icon" class="city-icon">
    </div>

    {% if graph %}
    <div>
        {{ graph|safe }}
    </div>
    {% endif %}

    <main>
        <button class="button" id="toggle-text">Show search history</button>
        <div id="text-content">
            <h3>Search history</h3>
            <ul>
                {% for city in cities %}
                <li>{{ city.city_name }}: {{ city.search_count }}</li>
                {% endfor %}
            </ul>
        </div>
    </main>

    <script>
        document.getElementById('toggle-text').addEventListener('click', function() {
            var textDiv = document.getElementById('text-content');
            var button = this;

            if (textDiv.style.visibility === 'hidden' || textDiv.style.visibility === '') {
                textDiv.style.visibility = 'visible'; // Показать текст
                button.textContent = 'Hide search history'; // Изменить текст кнопки
            } else {
                textDiv.style.visibility = 'hidden'; // Скрыть текст
                button.textContent = 'Show search history'; // Изменить текст кнопки
            }
        });


    </script>
</body>
</html>
