{% load static %}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>Weatherman</title>
    <link rel="stylesheet" href="{% static 'css/design.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=BioRhyme:wdth,wght@100..125,200..800&display=swap"
          rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
    <header class="hero-section">
            <h1 class=page_header> Weatherman</h1>
    </header>
    <div class="input-group">
            <form method="POST" id="search-form" action="{% url 'search_city' %}">
                {% csrf_token %}
                <input type="text" id="city_name" name="city_name" autocomplete="off" placeholder="Enter the name of the city" list="suggestions">
                <datalist id="suggestions"></datalist>
                <button type="submit">Search</button>
            </form>
    </div>

    <div class="city-info">
        <h2>{{ current_city }} {% if current_temperature %} {{ current_temperature }}&deg;C {% else %} :( {% endif %}</h2>
        {% if current_temperature is not None %}
        {% if current_temperature > 30 %}
        <img src="/static/images/hot_dog.gif" alt="We lost the picture of the sun that should be here" class="city-icon">
        {% else %}
        <img src="/static/images/sun.svg" alt="We lost the picture of the sun that should be here" class="city-icon animated-icon">
        {% endif %}
        {% endif %}
    </div>

    {% if graph %}
    <div>
        {{ graph|safe }}
    </div>
    {% endif %}

    <div class="button-position">
    <button class="button" id="toggle-text">Show search history</button>
    </div>

    <div id="text-content">
        <div class="grid-container">
            {% for city in cities %}
            <div class="grid-item">{{ city.city_name }}: {{ city.search_count }}</div>
            {% endfor %}
        </div>
    </div>

    <script>
        document.getElementById('toggle-text').addEventListener('click', function() {
            var container = document.querySelector('.grid-container');
            var button = this;

            if (!container.style.visibility || container.style.visibility === 'hidden') {
                container.style.visibility = 'visible';
                button.textContent = 'Hide search history';
            } else {
                container.style.visibility = 'hidden';
                button.textContent = 'Show search history';
            }
        });
    </script>
</body>
</html>
